.wrapper {
    margin: 20px;
}

.box {
    padding: 15px;
    padding-bottom: 0;
    background-color:lightgray;
    border-style: double;
    border-width: 4px;
    border-color:gray;
    margin-bottom: 20px;
}

.nav {
    background-color:rgb(186, 185, 185);
    border-style: solid;
    border-width: 1px;
    border-color:gray;
    display: flex;
    padding: 10px;
    list-style-type: none;
    justify-content: space-around;
}

.nav-item {
    flex-grow: 1;
    margin: 0 8px;
}

.nav-link {
    color:black;
    padding: 10px;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #888;
    color: white;
}


.boxes {
    padding: 15px;
    padding-bottom: 0;
    background-color:lightgray;
    border-style: double;
    border-width: 4px;
    border-color:gray;
}